{% load static %}
<!-- Intro -->
<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>{{ you_name }}</h1>
        <h2>{{ you_title }}</h2>
        <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </blockquote>
            <li><a href="#three" class="button scrolly">Mas Sobre mi:</a></li>
        </ul>
    </div>
</section>