{% load static %}
<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <div class="split style1">
            <section>
                <ul class="menu">
                    <li>&copy; tu Marca</li>
                </ul>
            </section>
            <section>
                <ul class="aliingFooter">
                    <li style="width: 220px; display: inline-block;"><a href="{{ cv }}" target="_blank" class="button icon solid fa-download">&nbsp;Curriculum</a></li>
                    <li style="width: 220px; display: inline-block;"><a href="#" target="_blank" class="button icon solid icon brands fa-whatsapp">&nbsp;Whatsapp</a></li>
                </ul>
            </section>
        </div>
    </div>
</footer>